**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.plan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.pem
*.key
.env
.env.*
!**/.terraform.lock.hcl