prefix   = "aztfst"
location = "eastus2"

runner_public_ip_addresses = ["203.0.113.10"]

state_principals = {
  operator = {
    object_id      = "00000000-0000-0000-0000-000000000000"
    principal_type = "User"
  }
}